@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofadi+One&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
    background: linear-gradient(112.01deg, #181818 0.6%, rgba(32, 32, 32, 0.966251) 34.35%, rgba(24, 24, 24, 0.905882) 99.4%);
}

.page {
    min-height: 100vh;
    height: auto;
}

.btn {
    cursor: pointer;
}

/* Dashborad page */

.hero_page {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

header {
    background-color: #484848;
    width: 85%;
    height: 70px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px auto 0px;
    padding: 0px 20px;
    border-radius: 20px;
    backdrop-filter: blur(26.399999618530273px);
    box-shadow: 0px 4px 4px 0px #C9C9C940;
}

header .logo_container {
    display: flex;
    align-items: center;
    gap: 5px;
}

header .logo_container .logo_title {
    color: #fcfcfc;
    font-family: "Sofadi One", system-ui;
    font-weight: 400;
}

header .logo_container .logo {
    width: 35px;
    height: auto;
}

header nav ul {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

header nav ul li a {
    font-size: 1.1rem;
    font-weight: 400;
    color: #fcfcfc;
    font-family: "Sofadi One", system-ui;
}

.logout_btn,
header nav ul li a .btn {
    border: none;
    outline: none;
    font-size: 1.1rem;
    font-weight: 400;
    padding: 8px 28px;
    font-family: "Sofadi One", system-ui;
    border-radius: 5px;
}

header nav ul li a .pricing_btn {
    background-color: #757575;
    color: #fcfcfc;
}

header nav ul li .discover_btn,
header nav ul li a .discover_btn {
    background-color: #fcfcfc;
    color: #757575;
}

.hero_page .main_container {
    width: 100vw;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero_page .main_container .container {
    width: 45vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    position: relative;
    animation: dashboard_animation 1s linear;
}

@keyframes dashboard_animation {
    0% {
        height: 0px;
        overflow: hidden;
    }

    100% {
        width: 45vw;
        height: 50vh;
        overflow: visible;
    }
}

.hero_page .main_container .container .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero_page .main_container .container .content h1,
.hero_page .main_container .container .content p {
    color: #fcfcfc;
    width: 100%;
    text-align: center;
    font-weight: 300;
}

.hero_page .main_container .container .content .hero_title {
    font-size: 4rem;
}

.hero_page .main_container .container .content .hero_title span {
    background: -webkit-linear-gradient(180deg, rgba(12, 0, 212, 1) 0%, rgba(255, 51, 247, 1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero_page .main_container .container .content .hero_content {
    width: 90%;
    font-weight: 200;
    text-align: justify;
    line-height: 25px;
    margin-top: 10px;
}

.hero_page .main_container .container .button .btn {
    background-color: #D9D9D9;
    color: #484848;
    width: 28vw;
    height: auto;
    padding: 16px 0px;
    gap: 10px;
    border-radius: 30px;
    opacity: 0px;
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 1px;
    bottom: none;
    outline: none;
}

.hero_page .ellipse {
    width: 100vw;
    height: 100vh;
    border-radius: 50%;
    box-shadow: #8948E4E5 0px 0px 100px 10px;
    margin-top: 10px;
}

.hero_page .main_container .container .img1,
.hero_page .main_container .container .img2,
.hero_page .main_container .container .img3,
.hero_page .main_container .container .img4 {
    position: absolute;
    width: 9rem;
    height: auto;
}

.hero_page .main_container .container .img1 {
    top: -5rem;
    left: -8rem;
}

.hero_page .main_container .container .img2 {
    top: -5rem;
    right: -8rem;
    transform: rotate(180deg);
}

.hero_page .main_container .container .img3 {
    bottom: -5rem;
    left: -8rem;
}

.hero_page .main_container .container .img4 {
    bottom: -5rem;
    right: -8rem;
}

@media screen and (max-width: 1200px) {

    .hero_page .main_container .container .img1,
    .hero_page .main_container .container .img2,
    .hero_page .main_container .container .img3,
    .hero_page .main_container .container .img4 {
        display: none;
    }

    .hero_page .main_container .container {
        width: 60vw;
        animation: none;
    }
}

@media screen and (max-width: 900px) {
    header {
        width: 95%;
    }
}

@media screen and (max-width: 800px) {
    header nav {
        display: none;
    }

    header {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40vw;
    }

    .hero_page .main_container .container .button .btn {
        width: 40vw;
    }

    .hero_page .main_container .container .content .hero_title {
        font-size: 2.8rem;
    }

    .hero_page .main_container .container .img1,
    .hero_page .main_container .container .img2,
    .hero_page .main_container .container .img3,
    .hero_page .main_container .container .img4 {
        display: none;
    }

    .hero_page .main_container .container {
        width: 80vw;
    }
}

/* Form Page - Signup / Login */
.form_page .form_main {
    display: flex;
    margin-bottom: 20px;
    padding-bottom: 5rem;
}

.form_page .form_main .form_left,
.form_page .form_main .form_right {
    width: 50vw;
    min-height: 100vh;
    height: auto;
}

.form_page .form_main .form_left {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: flex-start;
    padding-top: 3.4rem;
}

.form_page .form_main .form_left .form_container {
    width: 70%;
}

.form_page .form_main .form_left .form_container .form_title {
    color: #D9D9D9;
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.form_page .form_main .form_left .form_container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.form_page .form_main .form_left .form_container form .form_group,
.form_page .form_main .form_left .form_container form input {
    width: 100%;
}

.form_page .form_main .form_left .form_container form .form_group input {
    background-color: transparent;
    border: none;
    outline: none;
    border: 1px solid #757575;
    padding: 8px 14px;
    border-radius: 5px;
    font-size: 1.1rem;
    color: #D9D9D9;
}

.form_page .form_main .form_left .form_container form input[type="submit"] {
    background-color: #5C4DD2;
    font-size: 1.2rem;
    font-weight: 200;
    padding: 10px 0px;
    color: #D9D9D9;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-top: 20px;
}

.form_page .form_main .form_left header {
    background-color: #484848;
    width: 20vw;
    height: 70px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto 0px;
    padding: 0px 20px;
    border-radius: 20px;
    backdrop-filter: blur(26.399999618530273px);
    box-shadow: 0px 4px 4px 0px #C9C9C940;
}

.form_page .form_main .form_left .form_container p {
    color: #D9D9D9;
    text-align: center;
    margin-top: 20px;
    font-size: 0.8rem;
}

.form_page .form_main .form_left .form_container p a {
    color: #5C4DD2;
}

.form_page .form_main .form_left header .logo_container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.form_page .form_main .form_left header .logo_container .logo_title {
    color: #fcfcfc;
    font-family: "Sofadi One", system-ui;
    font-weight: 400;
}

.form_page .form_main .form_left header .logo_container .logo {
    width: 35px;
    height: auto;
}

.form_page .form_main .form_left .form_container form .form_group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_page .form_main .form_left .form_container form .form_group input[type="checkbox"] {
    width: 30px;
    margin-top: 10px;
}

.form_page .form_main .form_left .form_container form .form_group label[for="terms"] {
    width: 90%;
    color: #D9D9D9;
    font-size: 0.8rem;
    margin-top: 20px;
    margin-left: 10px;
}

/* vectors */
.form_page .form_main .form_right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_page .form_main .form_right .vector {
    width: 60%;
    height: auto;
    object-fit: cover;
}

@media screen and (max-width: 957px) {
    .form_page .form_main .form_right {
        display: none;
    }

    .form_page .form_main .form_left {
        width: 100vw;
        height: 100vh;
    }

    .form_page .form_main .form_left header {
        width: 40vw;
    }

    .form_page .form_main .form_left .form_container {
        width: 80%;
    }
}

/* Message */

.msg_container {
    background-color: #757575;
    border-left: 8px solid #1fff1f;
    z-index: 999;
    width: auto;
    height: auto;
    position: fixed;
    top: 6rem;
    right: 2rem;
    padding: 10px 20px;
    border-radius: 4px;
}

.msg_container p {
    color: #D9D9D9;
}

/* Single form page */
.singleFormPage {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.singleFormPage form {
    margin: 2rem auto 3rem;
    display: flex;
    flex-direction: column;
    width: 320px;
    gap: 10px;
}

.singleFormPage form input[type="submit"] {
    background-color: #5C4DD2;
    font-size: 1rem;
    font-weight: 200;
    padding: 10px 0px;
    color: #D9D9D9;
    border: none;
    outline: none;
    border-radius: 5px;
}

.singleFormPage form input {
    background-color: transparent;
    border: none;
    outline: none;
    border: 1px solid #757575;
    padding: 8px 14px;
    border-radius: 5px;
    font-size: 1.1rem;
    color: #D9D9D9;
}

.singleFormPage .vector_img {
    width: 400px;
}

@media screen and (max-width: 600px) {
    .singleFormPage .vector_img {
        width: 320px;
    }
}

.page .profilesPage .singleFormPage {
    padding: 20px;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Attendance */
.page.tablePage {
    background-color: #1e1e2d;
    color: #ffffff;
    padding: 4rem 0rem;
    min-height: 100vh;
}

.page.tablePage form {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.page.tablePage .form_group {
    display: flex;
    gap: 20px;
}

.page.tablePage input[type="date"],
.page.tablePage input[type="text"] {
    background-color: #2d2d3a;
    color: #ffffff;
    border: 1px solid #444;
    padding: 10px;
    border-radius: 5px;
}

.page.tablePage .btn {
    display: flex;
    gap: 10px;
}

.page.tablePage input[type="submit"],
.page.tablePage button {
    background-color: #444;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 6rem;
}

.page.tablePage input[type="submit"]:hover,
.page.tablePage button:hover {
    background-color: #555;
}

.page.tablePage table {
    width: 80%;
    background-color: #2d2d3a;
    border-collapse: collapse;
    margin: 20px auto;
    border-radius: 8px;
    overflow: hidden;
}

.page.tablePage table th,
.page.tablePage table td {
    padding: 15px;
    text-align: left;
    border: 1px solid #444;
}

.page.tablePage table th {
    background-color: #3d3d4a;
}

.page.tablePage table td {
    background-color: #2d2d3a;
}

.page.tablePage .notFound {
    color: #ff5555;
    text-align: center;
    margin-top: 20px;
}

.delete-worker-btn {
    margin: 20px 0px 0px;
    padding: 6px 16px;
    background-color: red;
    color: #fcfcfc;
    border: none;
    outline: none;
    border-radius: 4px;
    float: right;
}

/* Profile Page */
.page.profilesPage {
    color: #ffffff;
    padding: 20px;
    min-height: 100vh;
}

.page.profilesPage .profile {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #2d2d3a;
    padding: 20px;
    border-radius: 8px;
    width: auto;
    margin: 20px auto;
    gap: 4rem;
    display: flex;
    flex-direction: row;
    border: 4px solid #5C4DD2;
}

.page.profilesPage .profile .image {
    flex: 0 0 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page.profilesPage .profile .image .img {
    width: 240px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #444;
}

.page.profilesPage .profile .details {
    flex: 1;
}

.page.profilesPage .profile .details table {
    width: 100%;
    border-collapse: collapse;
}

.page.profilesPage .profile .details table th,
.page.profilesPage .profile .details table td {
    padding: 10px 15px;
    text-align: left;
    border-bottom: 1px solid #444;
}

.page.profilesPage .profile .details table th {
    background-color: #3d3d4a;
    color: #aaaaaa;
}

.page.profilesPage .profile .details table td {
    background-color: #2d2d3a;
    color: #ffffff;
}

@media (max-width: 768px) {
    .page.profilesPage .profile {
        flex-direction: column;
        align-items: flex-start;
    }

    .page.profilesPage .profile .image {
        margin-bottom: 20px;
    }

    .page.profilesPage .profile .image .img {
        width: 100px;
        height: 100px;
    }
}

/* Footer */
footer {
    background-color: #181818;
    color: #f5f5f5;
    font-size: 1rem;
    font-weight: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 30px;
    padding: 2rem;
    flex-wrap: wrap;    
}